.nav1{
    background-color:#a23f25 ;
    text-align: center;
    justify-content: center;

}
.nav2{
   font-family: serif;
position: static;
  
}
.hero  {
 background-image: url(../images/bg_2.jpg.webp);
   height: 750px;
   background-attachment: fixed;

   background-size: cover;
   color: white;
   
}
.hero_text p {
    font-size:70px ;
    text-align: center;
   padding: 200px;
   font-style: italic;
   font-weight: bolder;
   color: #fff;
   -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #ffffff;
}

.hero_button .btn{
    background-color: #a23f25;
    height: 50px;
    color: white;
    width: 120px;
    font-weight: bold;


}
.hero_button{
  margin-top: -150px;
  margin-left: 480px;
}

.icons{
    font-size: 80px;
    margin-top: 60px;
}
.fcintro{
    display: flex;
    gap: 2rem;
    line-height:2rem;
    padding: 50px;
   color: white;
  
    
}
#fc{
    background-color: #b7472a;
    display: flex;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.subheading{
    display: inline-block;
    margin-bottom: 0;
    color: #b7472a;
    font-size: 16px;
    font-weight: 400px;
    font-style: italic;
    position: relative;
}
.headinf-section{
    margin: 5px;
}
.imagesabout{
    height: 500px;
    width:500px ;
}
.headinf-section p{
    color: gray;
    line-height: 30px;
}
.headinf-section h2{
    font-size:40px;
    font-weight: bold;
    font-family: serif;
}
.number{
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    color: #b7472a;
}
.number span{
    font-size: 400px;
}
.year{
    padding: 20px 0;
}
.year span {
    font-family: "Arial", sans-serif; 
    font-size: 25px; 
    font-weight: bold; 
    color: #333; 
    padding: 20px;
}