.social-media{

    height: 30px;
   gap: 2rem;
    display: inline-block;
    color: white;
}
.wrap{
    background-color: #b7472a;
    color: white;
}
.wrap a{
    color: white;
}
.nav1{
    background-color:#a23f25 ;
    text-align: center;
    justify-content: center;

}
.nav2{
   font-family: serif;
position: static;
  
}
.hero-wrap.hero-wrap-2 .slider-text .bread {
    position: relative;
    color: #fff !important;
    font-size: 60px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
}
.hero_area{
    background-image: url(../images/bg_2.jpg.webp);
    height: 400px;
    background-attachment: fixed;
    background-size: cover;

}
.breadcrumbs{
    margin-top: 280px;

}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color:#a23f25;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
   .hero_text p {
       font-size:70px ;
       text-align: center;
      padding: 200px;
      font-style: italic;
      font-weight: bolder;
      color: #fff;
   }
   @media (max-width: 768px) {
    .hero_text p {
        font-size: 8vw; 
    }
}


@media (min-width: 1200px) {
    .hero_text p {
        font-size: 4vw; 
    }
}
@media (max-width: 480px) {
    .hero_text p {
        font-size: 10vw;
        text-align: center;
        justify-content: center;
        margin: auto;
      
    }
    .hero_text {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

.dbox .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #b7472a;
    margin: 0 auto;
    margin-bottom: 20px;
}

.dbox .icon span {
    font-size: 30px;
    color: #fff;
}

.ftco-section {
    padding: 6em 0;
    position: relative;
}
.table {
    width: 100%;
    border-collapse: collapse;
}


.table thead {
    background-color: red !important; 
    color: white !important; 
}


.table thead th {
    background-color:#a23f25 !important;
    color: white ;
    padding: 10px;
    text-align: left;
    border: 1px solid white;
}
.img{
    background-image: url(../images/2.webp);
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 70px;
}
.table tbody td .close span {
    font-size: 12px;
    color: #a23f25;
    border: none;
}
.table tbody th, .table tbody td {
    border: none;
    padding: 30px;
    background: #fff;
    border-bottom: 5px solid #f8f9fd;
    vertical-align: middle;
}
.ftco-section {
    padding: 6em 0;
    position: relative;
}
body, html {
    overflow-x: visible; 
}



.table-wrap {
    overflow-x: scroll;
}
.table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}
@media (max-width: 992px) {
    .table-wrap {
        overflow-x: auto;
        display: block;
        width: 100%;
    }
    
}
@media (max-width: 768px) {
    .table-wrap {
        overflow-x: auto;
        display: block;
        width: 100%;
    }
    
}
@media (max-width: 578px) {
    .table-wrap {
        overflow-x: auto;
        display: block;
        width: 100%;
    }
    
}
.cart-total {
    width: 100%;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 20px;
    font-family: serif;
}
.cart-total p {
    width: 100%;
    display: block;
}
.cart-total p span {
    display: block;
    width: 50%;
    color: gray;
}
.cart-wrap .btn-primary {
    display: block;
    width: 100%;
    font-weight: bold;
}
.btn.btn-primary {
    background: #b7472a ;
    border: 1px solid #b7472a ;
    color: #fff ;
}
.ftco-footer {
    font-size: 16px;
    padding: 6em 0 0 0;
    background: #1a1a1a;
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer .ftco-footer-widget ul li a span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.foticon {
    background-color: #a23f25;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: white;
    font-size: 20px;
}


.ftco-footer-social {
    display: flex;
    gap: 10px;
    padding: 0;
}

.ftco-footer-social li {
    display: flex;
}


.ftco-footer-social li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-decoration: none; 
}