body {
    font-family: serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}

h2 {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px 0;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #b7472a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:#ab4227;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
}

.register-link a {
    color: #ab4227;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
h2 {
    color: #ab4227;
}
