.social-media{

    height: 30px;
   gap: 2rem;
    display: inline-block;
    color: white;
}
.wrap{
    background-color: #b7472a;
    color: white;
}
.wrap a{
    color: white;
}
.nav1{
    background-color:#a23f25 ;
    text-align: center;
    justify-content: center;

}
.nav2{
   font-family: serif;
position: static;
  
}
.hero-wrap.hero-wrap-2 .slider-text .bread {
    position: relative;
    color: #fff !important;
    font-size: 60px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
}
.hero_area{
    background-image: url(../images/bg_2.jpg.webp);
    height: 400px;
    background-attachment: fixed;
    background-size: cover;

}
.breadcrumbs{
    margin-top: 280px;

}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color:#a23f25;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
   .hero_text p {
       font-size:70px ;
       text-align: center;
      padding: 200px;
      font-style: italic;
      font-weight: bolder;
      color: #fff;
   }
   @media (max-width: 768px) {
    .hero_text p {
        font-size: 8vw; 
    }
}


@media (min-width: 1200px) {
    .hero_text p {
        font-size: 4vw; 
    }
}
@media (max-width: 480px) {
    .hero_text p {
        font-size: 10vw;
        text-align: center;
        justify-content: center;
        margin: auto;
      
    }
    .hero_text {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

.sale, .new-arrival {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
}

.sale {
    background: #fe9801;
}

.new-arrival {
    background: aquamarine;
}

.category {
    font-style: italic;
    color: #b7472a;
    display: block;
}

.text h2 {
    font-size: 22px;
    font-family: serif;
    margin-bottom: 10px;
}

.price-sale {
    color: gray;
    font-style: italic;
   
}

.price {
    font-style: italic;
    color: rgb(75, 74, 74);
    font-weight: bold;
}

.subheading {
    margin-top: 100px;
}


.block-27 ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.block-27 ul li {
    margin: 0 5px;
}

.block-27 ul li a, 
.block-27 ul li span {
    color: #b7472a;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    text-decoration: none;
}

.block-27 ul li .active {
    background-color: #a23f25;
    color: white;
}
.ftco-footer {
    font-size: 16px;
    padding: 6em 0 0 0;
    background: #1a1a1a;
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer .ftco-footer-widget ul li a span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.foticon {
    background-color: #a23f25;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: white;
    font-size: 20px;
}


.ftco-footer-social {
    display: flex;
    gap: 10px;
    padding: 0;
}

.ftco-footer-social li {
    display: flex;
}


.ftco-footer-social li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-decoration: none; 
}
.col-md-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.col-md-5 iframe {
   width: 800px;
    border: 0;
    
    margin-left: 400px;
}


@media (min-width: 1200px) {
    .col-md-5 iframe {
        height: 600px;
    }
}


@media (max-width: 1199px) {
    .col-md-5 iframe {
        height: 500px;
        margin-left: 50px; 
    }
}


@media (max-width: 991px) {
    .col-md-5 iframe {
        height: 450px;
        margin-left: 0;
    }
}


@media (max-width: 767px) {
    .col-md-5 {
        padding: 10px;
    }

    .col-md-5 iframe {
        height: 350px;
        margin-right: 200px;
    }
}